body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-gallery img {
    width: 400px;  
    height: 266px;  
    object-fit: cover;  
}
